@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-sans: InterVariable, sans-serif;
}

input[type="file"]::file-selector-button {
  font-size: 0.875rem;
  @apply bg-gray-800 hover:bg-gray-700 dark:bg-gray-600 dark:hover:bg-gray-600;
  /* @apply bg-blue-700 hover:bg-blue-800 dark:bg-blue-600 dark:hover:bg-blue-700; */
}
